body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

#resultado h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#resultado p {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  #resultado {
    padding: 15px;
  }

  #resultado h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  #resultado p {
    margin-bottom: 3px;
  }
}
